<div class="mobile-sidebar-links">
  <ul>
    <li><a href="/">§[messages.homepage]§</a></li>
    <li>
      <a href="https://www.wikimedia.ch/" target="blank" title="Wikimedia CH">Wikimedia CH</a>
    </li>
    <li>
      <a href="http://www.supsi.ch/lcv" target="blank" title="§[messages.supsi]§"
        >§[messages.supsi]§</a
      >
    </li>
    <li><a href="https://synapta.it/" target="blank" title="Synapta">Synapta</a></li>
    <li>
      <a
        id="github"
        href="https://github.com/synapta/cassandra-GLAM-tools"
        target="blank"
        title="§[messages.repository]§"
        >§[messages.repository]§</a
      >
    </li>
    <li><a id="admin-panel-link" href="/admin/panel">§[messages.control-panel]§</a></li>
  </ul>
</div>
