<div class="mobile-sidebar-links">
  <ul>
    <li><a href="/">§[messages.homepage]§</a></li>
    <li>
      <a
        href="https://wordpress-wmch.synapta.io/global-strategy/"
        target="blank"
        title="§[messages.about-project]§"
        >§[messages.about-project]§</a
      >
    </li>
    <li>
      <a
        href="https://wordpress-wmch.synapta.io/join-us/"
        target="blank"
        title="§[messages.partecipate]§"
        >§[messages.partecipate]§</a
      >
    </li>
    <li>
      <a href="https://www.wikimedia.ch/" target="blank" title="Wikimedia CH">Wikimedia CH</a>
    </li>
    <li>
      <a href="https://synapta.it/" target="blank" title="Synapta">Synapta</a>
    </li>
  </ul>
</div>
