<div id="sidebar-logo">
  <a href="/">
    <img src="/assets/img/glam-logo.svg" alt="GLAM stat tool">
  </a>
</div>
<div class="institutions-menu">
  <h6>Institutions</h6>
</div>
<div class="sidebar-links">
  <ul>
    <li><a href="https://www.wikimedia.ch/" target="blank" title="Wikimedia CH">Wikimedia CH</a></li>
    <li><a href="http://www.supsi.ch/lcv" target="blank" title="SUPSI Laboratory of visual culture">SUPSI Laboratory of visual culture</a></li>
    <li><a href="https://synapta.it/" target="blank" title="Synapta">Synapta</a></li>
    <li><a id="github" href="https://github.com/synapta/cassandra-GLAM-tools" target="blank" title="GitHub repository">GitHub repository</a></li>
  </ul>
</div>
<div class="admin-panel">
  <a id="admin-panel-link" href="/admin/panel">CONTROL PANEL</a>
</div>
