<div id="sidebar-logo">
  <a href="/">
    <img src="/assets/img/glam-logo.svg" alt="§[messages.glam-tool]§" />
  </a>
</div>
<div class="institutions-menu">
  <h6>§[messages.institutions]§</h6>
</div>
<!-- <a
  id="aboutProject"
  href="https://stats.wikimedia.global/global-strategy/"
  target="blank"
  title="§[messages.about-project]§"
  >§[messages.about-project]§</a
>
<a
  id="partecipate"
  href="https://stats.wikimedia.global/join-us/"
  target="blank"
  title="§[messages.partecipate]§"
  >§[messages.partecipate]§</a
> -->
<!-- <a
  id="introduction"
  href="/introduction"
  target="self"
  title="§[messages.introduction]§"
  >§[messages.introduction]§</a>
<a
  id="contacts"
  href="/contacts"
  target="self"
  title="§[messages.contacts]§"
  >§[messages.contacts]§</a> -->
<div class="sidebar-links">
  <!-- <p style="margin: 0 0 5px 0; color:var(--gray); text-transform: uppercase;">§[messages.owner]§</p> -->
  <p>
    <a id="owner-logo-url" href="" target="blank" title="Wikimedia CH">
      <img id="owner-logo-image" width="100" src="/assets/img/owner-logo.svg" alt="Wikimedia CH" />
    </a>
  </p>
  <!-- <p style="margin: 0; color:var(--gray); text-transform: uppercase;">§[messages.developed-by]§</p>
  <ul>
    <li>
      <a href="https://www.wikimedia.ch/" target="blank" title="Wikimedia CH">Wikimedia CH</a>
    </li>
    <li>
      <a href="https://synapta.it/" target="blank" title="Synapta">Synapta</a>
    </li>
  </ul> -->
</div>
<!-- <div class="admin-panel">
  <a class="uppercase" id="admin-panel-link" title="§[messages.control-panel]§" href="/admin/panel"
    >§[messages.control-panel]§</a
  >
</div> -->
