<div id="sidebar-logo">
  <a href="/">
    <img src="/assets/img/glam-logo.svg" alt="§[messages.glam-tool]§" />
  </a>
</div>
<div class="institutions-menu">
  <h6>§[messages.institutions]§</h6>
</div>
<div class="sidebar-links">
  <ul>
    <li>
      <a href="https://www.wikimedia.ch/" target="blank" title="Wikimedia CH">Wikimedia CH</a>
    </li>
    <li>
      <a href="http://www.supsi.ch/lcv" target="blank" title="§[messages.supsi]§"
        >§[messages.supsi]§</a
      >
    </li>
    <li><a href="https://synapta.it/" target="blank" title="Synapta">Synapta</a></li>
    <li>
      <a
        id="github"
        href="https://github.com/synapta/cassandra-GLAM-tools"
        target="blank"
        title="§[messages.repository]§"
        >§[messages.repository]§</a
      >
    </li>
    <li>
      <div class="admin-panel">
        <select
          name="change-lang"
          onchange="changeLang(event)"
          id="change-lang-select"
        ></select>
      </div>
    </li>
  </ul>
</div>
<div class="admin-panel">
  <a class="uppercase" id="admin-panel-link" title="§[messages.control-panel]§" href="/admin/panel"
    >§[messages.control-panel]§</a
  >
</div>
