#admin-help {
  font-style: normal !important;
  display: inline-block;
  margin-left: .5rem;
  color: #000;
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  top: -1px;
  position: relative;
}

#glam-legend {
  position: absolute;
  border: 1px dashed black;
  background: #fff;
  z-index: 9;
  padding: 1rem 1rem 0;
  border-radius: 3px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .4);
}

#glam-legend ul {
  list-style-type: none;
  margin-left: -2rem;
}

#glam-legend li {
  padding: 0.5rem 0;
}

#new-glam-button {
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 3px;
  margin: 0;
  transition: all .5s;
}

#new-glam-button:hover {
  background-color: rgba(6, 69, 173, 0.2);
}

.glam-block {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin: 30px 0;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  background-color: rgba(64, 121, 140, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all .5s;
}

.glam-block.disabled {
  pointer-events: none;
  opacity: .5;
}

.glam-block .glam-controls-container {
  display: flex;
  align-items: baseline;
}

.glam-block .glam-controls {
  display: none;
  float: left;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 0 .5rem;
}

.glam-block .glam-controls.edit {
  color: #000;
  margin: 0 .8rem;
}

.glam-block .glam-controls.command {
  text-transform: capitalize;
  color: firebrick;
}

.glam-block .glam-controls.command:hover {
  text-decoration: underline;
  cursor: pointer;
}

.glam-block .glam-controls.command.retry,
.glam-block .glam-controls.command.restart {
  color: darkcyan;
}

.glam-block .info {
  padding-right: 1rem;
}

.glam-block .img > img {
  height: 150px;
}

.glam-block .bold-span {
  font-weight: 800;
}

.glam-block .status {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  float: left;
}

.glam-block.running {
  border-color: #40798C;
  background-color: rgba(64, 121, 140, 0.1);
}

.glam-block.running .status {
  color: #40798C;
}

.glam-block.paused {
  border-color: #F7B32B;
  background-color: rgba(252, 246, 177, 0.1);
}

.glam-block.paused .status {
  color: #F7B32B;
}

.glam-block.failed {
  border-color: #8C271E;
  background-color: rgba(140, 39, 30, 0.1);
}

.glam-block.failed .status {
  color: #8C271E;
}

.glam-block.pending {
  border-color: #5B5B5B;
  background-color: rgba(91, 91, 91, 0.1);
  opacity: 0.9;
}

.glam-block.pending .status {
  color: #5B5B5B;
}

.glams-count {
  color: gray;
}

.glams-count ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.glams-count ul li {
  display: inline-block;
}

.glams-count ul li.active-btn {
  font-weight: 600;
  color: var(--main);
  text-decoration: underline;
}

.glams-count .glam-filter {
  font-style: italic;
  color: var(--main);
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  transition: all .5s;
}

.glams-count .glam-filter:hover {
  opacity: .5;
}

@media screen and (max-width: 991px) {
  .glam-block .glam-controls {
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
  }

  .glam-block .img > img {
    width: 100%;
    height: auto;
    max-width: 180px;
  }
}

@media screen and (max-width: 576px) {
  .glam-block .glam-controls {
    font-size: 0.9rem;
    padding: 0;
  }

  .glam-block .glam-controls.edit {
    margin: 0 .5rem;
  }

  .glam-block .img > img {
    display: none;
  }
}
