/* HEADER BAR */
.top_bar {
  min-height: 3em;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}

#breadcrumbs {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

#white-logo {
  padding-right: 2rem;
  border-right: 1px solid rgba(255, 255, 255, .5);
  transition: opacity .5s;
}

#white-logo:hover {
  opacity: .5;
}

#white-logo img {
  width: 70px;
  height: 63.22px;
}

#topbar {
  background-color: var(--main);
}

#topbar .breadcrumb-separator {
  color: #fff;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 100;
}

#topbar a {
  color: white;
  text-decoration: underline;
}

#topbar h1 {
  padding-left: 0.5em;
}

#topbar h6 {
  margin: 0 .5rem 0 0;
  color: #fff;
  font-weight: 100;
  font-size: 0.8rem;
}

#topbar h2 {
  font-size: 1em;
  margin: 0;
}

/*the container must be positioned relative:*/
.select-chart {
  position: relative;
  font-family: Arial;
}

.select-chart select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: transparent;
  border: 1px solid #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 13px;
  right: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  font-size: 0.9rem;
  color: #fff;
  padding: .5rem 2rem .5rem 1.2rem;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  user-select: none;
}

@media screen and (min-width: 1024px) {
  .select-items div, .select-selected {
    width: 150px;
  }
}

@media screen and (min-width: 1441px) {
  .select-items div, .select-selected{
    width: 175px;
  }
}
@media screen and (max-width: 1023px) {
  .select-items div, .select-selected {
    width: 95px;
  }
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--main);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#showUnused, #unusedList {
  /*position: fixed;*/
  display: flex;
  left: 1rem;
  background-color: #fff;
  color: var(--main);
  box-shadow: 0 -1px 15px 0px rgba(0,0,0,.1);
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 1rem 1rem 0;
  bottom: 5rem;
}

/* FOOTER */
#chart-page-footer {
  display: flex;
  position: fixed;
  max-height: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: var(--main);
  box-shadow: 0 -1px 15px 0px rgba(0,0,0,.1);
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 0.7rem 2rem;
  align-items: center;
  justify-content: space-between;
}

#chart-page-footer > div {
  display: flex;
}

#chart-page-footer h6 {
  margin-bottom: 0;
  font-weight: 100;
  transition: opacity .5s;
  cursor: pointer;
}

#chart-page-footer h6:hover {
  opacity: .4;
}

#chart-page-footer img {
  display: inline-block;
  margin-right: .5rem;
  position: relative;
  top: -1px;
  height: auto;
}

#chart-page-footer .help img {
  width: 10px;
}

#chart-page-footer .download img {
  width: 13px;
}

#chart-page-footer .download a {
  text-transform: uppercase;
  color: var(--main);
}

#chart-page-footer .help,
#chart-page-footer .download {
  margin: 0 2rem;
}

#chart-page-footer .chart-title,
#chart-page-footer .commons-category {
  display: flex;
  align-items: center;
}

#chart-page-footer .chart-title {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid var(--main);
}

#chart-page-footer .chart-title img {
  height: 30px;
}

#chart-page-footer .chart-title h5 {
  margin: 0;
  font-size: 1rem;
}

#chart-page-footer .commons-category h6 {
  margin: 0 .5rem 0 0;
  font-weight: 100;
  font-size: 0.8rem;
}

#chart-page-footer .commons-category h2 {
  margin: 0;
  text-decoration: underline;
}

/* HOT TO READ */
#how_to_read_button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.how_to_read {
  display: none;
  z-index: 9;
  position: absolute;
  margin: 1em;
  background-color: #fff;
  border: 3px dotted var(--accent-green);
  padding: 2em;
  font-size: 0.8em;
  width: calc(100% - 3em);
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .2);
}

.how_to_read h5 {
  text-transform: uppercase;
  color: var(--main);
}

/* CHART CONTAINER */
/*#dataviz {*/
/*  height: 75vh;*/
/*}*/

/* RIGHT COLUMN */
#right-column {
  /* background-color: var(--bg-gray); */
  border-left: 1px dotted var(--bg-gray);
  padding-right: 0;
}

#right_sidebar_box {
  padding-right: 15px;
}

#sorting_options {
  font-size: 1rem;
  margin: .5rem 0;
  padding: .5rem 0;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}

#sorting_options span {
  transition: all .4s;
  opacity: .7;
}

#sorting_options span.active_order {
  opacity: 1;
  text-decoration: underline;
  color: var(--main);
  font-weight: 600;
}

#right_sidebar_list {
  overflow-y: auto;
  /* overflow-x: visible; */
  height: 80vh;
  margin-right: -15px;
}

#right_sidebar_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#right_sidebar_list .list_item {
  display: block;
  cursor: pointer;
  padding: 1rem;
  margin: .5rem;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
  border: 1px solid rgba(100,100,100,.1);
  transition: all .4s;
}

#right_sidebar_list .list_item_active {
  background-color: var(--accent-ttt);
  transform: translate(-10px, 0);
  font-weight: 600;
}

#right_sidebar_list .list_item > .row > div:first-child {
  border-right: 1px solid rgba(0,0,0,.2);
}

#right_sidebar_list .list_item > .row > .item:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#right_sidebar_list .list_item:last-child {
  margin-bottom: 20px;
}

.selected_list_item_div {
  background-color: var(--accent-tt);
}

.selected_list_item {
  font-weight: 600;
}

/* CATEGORY NETWORK CHART */
#category span {
  font-size: 2em;
  font-weight: lighter;
  text-decoration: none;
}

#category_network_container {
  height: 60vh;
  overflow-y: hidden;
  padding: 1em;
}

#category_network_container .edges {
  stroke: #999;
  stroke-opacity: 0.6;
  fill: red;
}

#category_network_container .nodes g {
  cursor: pointer;
}

#category_network_container .nodes > g {
  z-index: 2;
}

#category_network_container .nodes g text {
  opacity: 0.4;
}

#category_network_container .nodes g:hover text {
  opacity: 1;
  transform: scale(1.5, 1.5);
}

.selected_circle {
  stroke: black;
  stroke-width: 3px;
}

.disabled_circle {
  opacity: 0.3;
}

#legend {
  width: 10%;
  float: left;
  margin: 2em 0 0 1.5em;
}

/* USAGE CHART */
#usage_stat {
  padding-bottom: .5rem;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
}

#usage_stat > div {
  padding: 1rem 0;
  margin-top: 1rem;
}

#usage_stat > div:not(:last-child) {
  border-right: 1px solid rgba(100, 100, 100, .3);
}

#usage_stat .usage-stat {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

#usage_stat .usage-stat p {
  font-size: .9rem;
}

#usage_horiz_bars {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart_select_container{
  display: flex;
  align-items: center;
  height: 63.22px;
}
.groupby_container {
  display: flex;
  align-items: center;
  /*margin: 0 0 0 1rem;*/
  /*padding: 0 1rem;*/
  border-left: 1px solid rgba(255, 255, 255, .5);
  height: 63.22px;
}

#groupby_options {
  font-size: 1em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  /*margin-left: 1rem;*/
  /*margin-right: 1rem;*/
}

#groupby-select {
  margin: 0 .5rem;
  background-color: var(--main);
  padding: .3rem;
  color: #fff;
}

/* PAGE VIEWS CHART */
#main_views_container {
  height: 100vh;
  position: relative;
}

#annotation_dialog_form {
  /* width: 30%; */
  position: absolute;
  margin: 1rem;
  left: 0;
  top: 0;
  background: white;
  padding: 0 0 1rem;
  z-index: 1;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 3px 3px rgba(0, 0, 0, .3);
  display: none;
  flex-direction: column;
  text-align: center;
}

#annotation_dialog_form .form-group:first-child {
  background: var(--main);
  color: #fff;
  padding: 1rem;
}

#annotation_dialog_form .form-group:not(:first-child) {
  padding: 0 1rem;
}

#annotation_dialog_form h2,
#annotation_dialog_form h5 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

#annotation_dialog_form textarea {
  /* background: var(--bg-gray); */
  padding: .5rem;
}

#annotation_dialog_form select {
  background:  #fff;
  padding: .5rem;
}

#annotation_dialog_form button {
  padding: .4rem .7rem;
  font-size: 1.2rem;
  border: 1px solid;
  cursor: pointer;
  transition: all .3s;
}

#annotation_dialog_form button:hover {
  box-shadow: 3px 3px var(--main-dark);
}

#annotation_dialog_form .cancel-button {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

#annotation_dialog_form .confirm-button {
  background-color: var(--annotation-color);
  border-color: var(--annotation-color);
  color: #fff;
}

/* Annotations */
.annotation path {
  stroke: var(--annotation-color);
  stroke-width: 1.5;
  fill: none;
}

.annotation-note {
  cursor: pointer;
}

.annotation-note-title {
  font-weight: 800;
  font-size: 1rem
}

.annotation-note-label {
  font-weight: 200;
  font-size: .9rem;
}

.annotation-note-title,
.annotation-note-label {
  fill: var(--annotation-color);
}

.annotation-note-bg {
  fill-opacity: 1;
}

#annotationButtons {
  position: absolute;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: all;
  z-index: 10;
  transition: all .3s ease-in-out;
}

#annotationButtons .annotation_button {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: #FFCDD2;
  border: 2px solid #FFCDD2;
  margin: .5rem;
}

#annotationButtons .annotation_button:hover {
  border: 2px solid var(--annotation-color);
  transform: scale(1.1);
}

#annotationButtons .annotation_button img {
  width: 14px;
}
.annotation_container{
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, .5);
  height: 63.22px;
}
.annotation_toggle_container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-left: 2rem;*/
  /*margin-right: 1rem;*/
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  #breadcrumbs {
    margin-left: 0
  }
}
/*@media screen and (max-width: 1440px) {*/
/*  #breadcrumbs {*/
/*    margin-left: 0;*/
/*  }*/
/*}*/

@media screen and (max-width: 576px) {
  h1 {
    text-align: left;
  }

  .top_bar {
    /* flex-direction: column; */
    /* align-items: baseline; */
  }

  #white-logo {
    display: none;
  }

  #breadcrumbs {
    /*flex-direction: column;*/
    /*align-items: baseline;*/
    margin-left: 0;
    /*max-width: 100%;*/
  }

  #topbar h2 {
    margin-bottom: 1.3rem;
  }

  .breadcrumb-separator {
    display: none;
  }

  .groupby_container {
    margin: 1rem 0 .5rem;
    padding: 0;
    border: none;
  }

  #visualizations {
    display: flex;
    flex-direction: column;
  }

  #data_visualizations li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }

  #data_visualizations li:last-child {
    margin-right: 0;
  }

  #data_visualizations li:nth-child(1n) {
    margin-right: 0;
  }

  #data_visualizations li:nth-child(1n+1) {
    clear: left;
  }

  #sub_header > div {
    float: none;
  }

  #visualizations #dataviz {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  #usage_horiz_bars {
    overflow-y: hidden;
  }

  #visualizations #right-column {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: auto;
  }

  /* category network */
  #category_network_container {
    height: 400px;
    padding: .2rem;
  }

  #legend {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
  }

  /* charts container */
  #main_views_container,
  #main_contributions_container  {
    height: 400px;
    margin-top: 1rem;
  }

  #chart-page-footer {
    position: relative;
    flex-direction: column;
    max-height: unset;
    padding: 0;
  }

  #chart-page-footer > div {
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
  }

  #chart-page-footer > div:first-child {
    margin: 1rem 0 0;
  }

  #chart-page-footer .chart-title img {
    height: 30px;
    margin: 0 0 1rem;
  }

  #chart-page-footer .chart-title, #chart-page-footer .commons-category {
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;
  }

  #chart-page-footer .commons-category {
    align-items: center;
    margin-top: 1rem;
  }

  #chart-page-footer .help, #chart-page-footer .download {
    margin: .5rem 0;
  }

  .annotation_toggle_container,.annotation_container {
    display: none;
  }

  .annotation-note-title {
    font-weight: 600;
    font-size: 0.8rem
  }

  .annotation-note-label {
    font-weight: 200;
    font-size: .6rem;
  }

  .how_to_read {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 1.5em 1.5em;
    word-break: break-word;
  }
}
