.line {
  fill: none;
  stroke: var(--main);
  stroke-width: 2px;
  /* display: none; */
}

.image_line {
  fill: none;
  stroke: var(--accent-green);
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.zoom-area {
  /* cursor: move; */
  fill: none;
  pointer-events: all;
}
