html, body {
    height: 100%;
}

body {
    overflow-y: auto;
}

#visualizations {
    position: relative;
    height: calc(100vh - 90px - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
}

#visualizations h1{
    margin-right: 5rem
}

#loadMore {
    display: inline-block;
    margin: 0 40%;
    background: var(--main);
    width: 175px;
    font-size: 0.9rem;
    color: #fff;
    padding: .5rem 1.4rem .5rem 1.2rem;
    border: 1px solid #fff;
}

/* FOOTER */
#chart-page-footer {
    display: flex;
    position: fixed;
    height: 75px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: var(--main);
    box-shadow: 0 -1px 15px 0px rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 1.2rem 2rem;
    align-items: center;
    justify-content: space-between;
}

#chart-page-footer > div {
    display: flex;
}

#chart-page-footer h6 {
    margin-bottom: 0;
    font-weight: 100;
    transition: opacity .5s;
    cursor: pointer;
}

#chart-page-footer h6:hover {
    opacity: .4;
}

#chart-page-footer img {
    display: inline-block;
    margin-right: .5rem;
    position: relative;
    top: -1px;
    height: auto;
}

#chart-page-footer .help img {
    width: 10px;
}

#chart-page-footer .download img {
    width: 13px;
}

#chart-page-footer .download a {
    text-transform: uppercase;
    color: var(--main);
}

#chart-page-footer .help,
#chart-page-footer .download {
    margin: 0 2rem;
}

#chart-page-footer .chart-title,
#chart-page-footer .commons-category {
    display: flex;
    align-items: center;
}

#chart-page-footer .chart-title {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 1px solid var(--main);
}

#chart-page-footer .chart-title img {
    height: 30px;
}

#chart-page-footer .chart-title h5 {
    margin: 0;
    font-size: 1rem;
}

#chart-page-footer .commons-category h6 {
    margin: 0 .5rem 0 0;
    font-weight: 100;
    font-size: 0.8rem;
}

#chart-page-footer .commons-category h2 {
    margin: 0;
    text-decoration: underline;
}

/* HOW  TO READ */
#how_to_read_button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.how_to_read {
    display: none;
    z-index: 9;
    position: absolute;
    margin: 1em;
    background-color: #fff;
    border: 3px dotted var(--accent-green);
    padding: 2em;
    font-size: 0.8em;
    width: calc(100% - 3em);
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .2);
}

.how_to_read h5 {
    text-transform: uppercase;
    color: var(--main);
}

#resultsSearch {
    /*overflow-y: auto;*/
    /* overflow-x: visible; */
    /*max-height: 65vh;*/
    margin-right: -15px;
}

#resultsSearch ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#resultsSearch .list_item {
    display: block;
    cursor: pointer;
    padding: 1rem;
    margin: .5rem;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .1);
    border: 1px solid rgba(100,100,100,.1);
    transition: all .4s;
    border-right: 1px solid rgba(0,0,0,.2);
    /*height: 200px;*/
}

.selected_list_item_div {
    background-color: var(--accent-tt);
}

.itemUnused {
    color: var(--main);

}

.thumb {
    display: block;
    max-height: 40vh;
    max-width: 100%
}

.wikis {
    margin: 1rem 0;
    padding: 1rem 0;
}
@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {

    #file-dataviz {
        padding: 0;
        height: unset;
        order: 2;
    }

    #visualizations {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #data_visualizations li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
    }

    #data_visualizations li:last-child {
        margin-right: 0;
    }

    #data_visualizations li:nth-child(1n) {
        margin-right: 0;
    }

    #data_visualizations li:nth-child(1n+1) {
        clear: left;
    }

    #sub_header > div {
        float: none;
    }

    .file-dataviz-container {
        /* height: auto; */
    }

    #visualizations #dataviz {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    #usage_horiz_bars {
        overflow-y: hidden;
    }

    /* charts container */
    #main_views_container,
    #main_contributions_container  {
        height: 400px;
        margin-top: 1rem;
    }

    #chart-page-footer {
        position: relative;
        flex-direction: column;
        max-height: unset;
        height: auto;
        padding: 0;
    }

    #chart-page-footer > div {
        margin: 1.5rem 0;
        padding: 0 1rem;
        flex-direction: column;
        align-items: center;
    }

    #chart-page-footer .commons-category h6,
    #chart-page-footer .file-name h6 {
        margin: .5rem 0;
        font-size: 1rem;
    }

    #chart-page-footer > div > div {
        margin: .7rem 0;
    }

    #chart-page-footer .file-name {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #chart-page-footer .chart-title, #chart-page-footer .commons-category {
        flex-direction: column;
        border: none;
        margin: 0;
        padding: 0;
    }

    #chart-page-footer .commons-category {
        align-items: center;
        margin-top: 1rem;
    }

    #chart-page-footer .help, #chart-page-footer .download {
        margin: .5rem 0;
    }
}

.searchResults {
    display: flex;
    left: 1rem;
    background-color: #fff;
    color: var(--main);
    box-shadow: 0 -1px 15px 0 rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 1rem 1rem 0;
    /*bottom: 5rem;*/
    margin-left: 5rem;
    margin-right: 5rem;
    /*max-height: 75vh;*/
}
