@import url(https://tools-static.wmflabs.org/fontcdn/css?family=Chivo:300,400,400italic,700&subset=latin,latin-ext);

/*  GENERAL */
:root {
  --main: #080d5a;
  --secondary: #6373f7;
  --main-dark: #060a40;
  --main-t: #080d5ac8;
  --main-tt: #080d5aa0;
  --bg-gray: #efefef;
  --accent: #a68300;
  --accent-green: #12B39A;
  --accent-blue: #1523e6;
  --accent-tt: #a6830064;
  --accent-ttt: #a6830028;
  --sidebar-width: 250px;
  --sidebar-items-left: 3.2rem;
  --annotation-color: #E8336D;
}

@media screen and (max-width: 768px) {
  :root {
    --sidebar-width: 200px;
    --sidebar-items-left: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --sidebar-width: 0px;
  }
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  font-size: 16px;
}

@media screen and (max-width: 1440px) {
  html, body {
    font-size: 14px;
  }
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Chivo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: black;
  line-height: 1.2;
}

body.pushable {
  background: var(--bg-gray) !important;
}

a {
  color: #0645AD;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1em;
}

/* UTILITIES */
.hide {
  display: none;
}

.show {
  display: block !important;
}

.clear {
  clear: both;
}

.underline {
  text-decoration: underline;
}

.no-pointer-events {
  pointer-events: none;
}

.full-disabled {
  pointer-events: none;
  opacity: .5;
}

.overflow_hidden {
  overflow: hidden;
  height: 100%;
}

.error-message {
  color: #C62921;
  background-color: rgba(255, 199, 191, 0.8);
  border-radius: 5px;
  padding: 15px;
}

.success-message {
  color: #425d22;
  background-color: #e3f1c4;
  border-radius: 5px;
  padding: 15px;
}

.bg-accent {
  background-color: var(--accent);
}

.bg-gray {
  background-color: var(--bg-gray);
}

.link-out-big {
  width: 15px;
  margin-left: .4rem;
}

.link-out-small {
  width: 8px;
  margin-left: .1rem;
}

/* MOBILE HEADER AND SIDEBAR */
#mobile-header-bar {
  display: none;
}

#mobile-sidebar > .mobile-sidebar-links > ul {
  list-style-type: none;
  padding: 1rem 0 0;
}

#mobile-sidebar > .mobile-sidebar-links > ul > li {
  padding: 1.5rem 1rem;
}

#mobile-sidebar > .mobile-sidebar-links > ul > li a {
  color: var(--main);
}

#mobile-sidebar > .mobile-sidebar-links #admin-panel-link {
  font-size: 1rem;
}

#mobile-sidebar > .mobile-sidebar-links #github {
  font-weight: 100;
}

/* SIDEBAR */
#main-sidebar {
  background-color: var(--bg-gray);
  position: fixed;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
}

#main-sidebar > #sidebar-logo {
  position: absolute;
  top: 3rem;
  left: var(--sidebar-items-left);
}

#main-sidebar > .institutions-menu {
  position: absolute;
  top: 15rem;
  left: 0;
  width: 100%;
  border-width: 2px 0;
  border-style: solid;
  border-color: #fff;
  transition: opacity .5s;
}

#main-sidebar > .institutions-menu > h6 {
  margin: 0;
  padding: .5rem 0 .5rem var(--sidebar-items-left);
  font-weight: 600;
  color: var(--main);
  cursor: pointer;
}

#main-sidebar > #sidebar-logo img {
  width: 120px;
  height: auto;
}

#main-sidebar > .sidebar-links {
  position: absolute;
  bottom: 4rem;
  left: var(--sidebar-items-left);
}

#main-sidebar > .sidebar-links a {
  color: var(--main);
}

#main-sidebar > .sidebar-links > ul {
  list-style-type: none;
  padding: 0 5rem 0 0;
  font-size: .9rem;
}

#main-sidebar > .sidebar-links > ul > li {
  padding: 1rem 0 0;
}

#main-sidebar > .sidebar-links #github {
  font-weight: 100;
}

#main-sidebar > .admin-panel {
  position: absolute;
  left: var(--sidebar-items-left);
  bottom: 2rem;
}

#admin-panel-link {
  padding: .3rem .8rem;
  font-size: .7rem;
  color: var(--main);
  border: 1px solid;
  border-radius: 3px;
  transition: all .5s;
}

#admin-panel-link:hover {
  background-color: rgba(6, 69, 173, 0.7);
}

/* SECONDAY SIDEBAR */
#secondary-sidebar {
  background-color: var(--main);
  position: absolute;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  transition: all .5s;
}

#secondary-sidebar > .institutions-list {
  position: relative;
  top: 15rem;
  list-style-type: none;
  padding: 0 2rem;
}

#secondary-sidebar > .institutions-list > li {
  padding: .9rem 0;
  font-size: .9rem;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

#secondary-sidebar > .institutions-list > li > a {
  color: #fff;
}

/* MAIN CONTAINER */
#main-container {
  margin-left: var(--sidebar-width);
  padding: 1rem 2rem;
  min-height: 100vh;
}

#sub_header {
  background-color: #dcdcdc;
  min-height: 3em;
  padding-left: 1.5em;
}

#sub_header > div {
  padding: 0.3em 0 0.3em 0;
  float: left;
  margin-right: 5em;
}

#sub_header > div:last-child {
  margin-right: 0;
}

#sub_header a, #sub_header a:visited {
  text-decoration: none;
}

.label {
  font-size: 0.6em;
}

.futovac {
  flex: 1;
}

.round-btn {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  color: inherit;
  border: 1px solid black;
}

.nodeca:hover {
  text-decoration: none;
}

footer {
  flex-shrink: 0;
  min-height: 3em;
  padding: 0 0.5em 0.5em 1.5em;
}

.footer_home {
  bottom: 0;
  width: 100%;
  background-color: gray;
  min-height: 3em;
  padding-top: 1em;
}

.footer_home a {
  color: white;
  text-decoration: none;
}

.footer_bar {
  bottom: 0;
}

.footer_bar a {
  text-decoration: none;
}

.menu_title {
  padding: 0.5em 1em;
  font-weight: 600;
  color: white !important;
  text-transform: uppercase;
  font-size: 12px;
}

#success-glam a {
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 3px;
  margin: 0;
  transition: all .5s;
}

#success-glam a:hover {
  background-color: rgba(6, 69, 173, 0.2);
}

.cover {
  position: relative;
  margin-left: var(--sidebar-width);
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.cover h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

/* home page cover */
#home-cover {
  padding: 2rem 3rem;
}

#home-cover h2 {
  color: var(--main);
}

/* glam home page cover */
#cover {
  padding: 1rem 3rem;
}

#cover h2 {
  color: var(--main);
}

#cover h2::after {
  clear: both;
  content: "";
  display: block;
}

#cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-t);
}

/* admin page cover */
#admin-cover {
  background-color: var(--main);
  padding: 2rem 3rem;
}

#admin-cover h2 {
  color: #fff;
}

/* GLAM HOME PAGE */
.glam-title-container {
  color: #fff;
}

.glam-title-container .glam-title-desc {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
}

.glam-title-container .glamName {
  display: flex;
  height: 2rem;
}

 .col-lg-3 .glam-title-desc {
  height: 4rem;
 }

.glam-title-container #cat_url {
  color: #fff;
  text-decoration: underline;
  transition: opacity .5s;
}

.glam-title-container #cat_url:hover {
  opacity: .5;
}

.glam-title-container #totalMediaNum {
  color: #fff;
}

.glam-title-container h5 {
  font-weight: 100;
  text-transform: uppercase;
}

.chart-preview {
  background-color: transparent;
  margin-top: 3rem;
  height: 400px;
  perspective: 1000px;
}

.chart-preview-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chart-preview-front,
.chart-preview-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.chart-preview-front {
  background-color: var(--bg-gray);
  z-index: 1;
}

.chart-name {
  color: var(--main);
  font-size: 1.5rem;
}

.chart-preview-back {
  transform: rotateY(180deg);
  z-index: 2;
  background-color: var(--main);
  color: #fff;
}

.chart-logo {
  width: 80px;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}

.chart-separator hr {
  width: 40%;
  margin: 1rem auto;
  border-color: var(--secondary);
  border-width: 2px;
}

.chart-separator h5 {
  color: var(--secondary);
}

.chart-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

.chart-buttons a {
  margin: .8rem 0;
}

.chart-link {
  color: var(--main);
  text-decoration: underline;
  transition: opacity .5s;
}

.chart-link:hover {
  opacity: .5;
}

.get-chart-info,
.close-chart-info {
  cursor: pointer;
  font-size: 1.2rem;
  transition: opacity.5s;
  color: var(--main);
}

.get-chart-info:hover,
.close-chart-info:hover {
  opacity: .5;
}

.close-chart-info {
  padding: .3rem .6rem;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

.rect {
  min-width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.text {
  float: left;
  margin-right: 20px;
}

#password-field {
  display: none;
}

.btn-light.dropdown-toggle,.show>.btn-light.dropdown-toggle,.bootstrap-select .dropdown-menu  {
  color: white;
  background-color: var(--main);
  border-color: white;
  border-radius: 0;
}
.bs-searchbox .form-control {
  border-radius: 0;
  color: var(--main);
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
  background-color: white;
  color: var(--main) !important;
}

.bootstrap-select .dropdown-menu a {
  z-index: 9999;
}
.bootstrap-select .dropdown-menu li .text {
  float: none;
}

.bootstrap-select .dropdown-menu li {
  padding: 0.5rem 0.1rem;
  background-color: var(--main);
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: 1px solid white;
}

.search-btn{
  background-color: var(--bg-gray);
  color: var(--main);
}

.search-form{
  display: flex;
  position: relative;
  width: 80%;
  margin: auto;
}

.search-form input{
  width: 90% !important;
}

@media screen and (max-width: 768px) {
  .glam-title-section {
    margin: .5rem 0;
    padding: .5rem 0;
  }



  #main-sidebar > .sidebar-links > ul {
    list-style-type: none;
    padding: 0 1rem 0 0;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576px) {
  #mobile-header-bar {
    display: flex;
    background-color: var(--bg-gray);
    box-shadow: inset 0 -1px 3px rgba(0,0,0,0.08);
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  #main-sidebar,
  #secondary-sidebar {
    display: none;
  }

  #cover h2 {
    font-size: 1.4rem;
  }

  #main-container {
    margin-left: var(--sidebar-width);
    padding: 1rem 2rem;
  }

  #cover {
    padding-bottom: 0;
    /* border-bottom: 1px solid var(--main); */
    margin-bottom: 2rem;
  }

  .overflow_hidden {
    overflow: auto;
    height: 100%;
  }

  .get-chart-info {
    margin-top: .8rem;
    font-size: 2.5rem;
  }
}
.w-20 {
  max-width: 20%;
}