html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.hide {
  display: none; }

.show {
  display: block !important; }

.clear {
  clear: both; }

.underline {
  text-decoration: underline; }

.overflow_hidden {
  overflow: hidden;
  height: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: black;
  line-height: 1.2;
}

a {
  color: #0645AD;
}

.error-message {
  color: #C62921;
  background-color: rgba(255, 199, 191, 0.8);
  border-radius: 5px;
  padding: 15px;
}

.success-message {
  color: #425d22;
  background-color: #e3f1c4;
  border-radius: 5px;
  padding: 15px;
}

.top_bar {
  min-height: 3em;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0.5em;
}

#topbar {
  background-color: #0D6FF6;
}
#topbar a {
  color: white;
  text-decoration: none;
}
#topbar h1 {
  display:inline;
  padding-left: 0.5em;
}
#topbar h2 {
  display:inline;
  font-size: 1.2em;
  margin-left: 2em;
}

#sub_header {
  background-color: #dcdcdc;
  min-height: 3em;
  padding-left: 1.5em;
}
#sub_header > div {
  padding: 0.3em 0 0.3em 0;
  float: left;
  margin-right: 5em;
}
#sub_header > div:last-child {
  margin-right: 0;
}
#sub_header a, #sub_header a:visited {
  text-decoration: none;
}

.label {
  font-size: 0.6em;
}

.futovac {
  flex: 1;
}

.round-btn {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  color: inherit;
  border: 1px solid black;
}

.nodeca:hover {
  text-decoration: none;
}

footer {
  flex-shrink: 0;
  min-height: 3em;
  padding: 0 0.5em 0.5em 1.5em;
}

.footer_home {
  bottom: 0;
  width: 100%;
  background-color: gray;
  min-height: 3em;
  padding-top: 1em;
}

.footer_home a {
  color: white;
  text-decoration: none;
}

.footer_bar {
  bottom: 0;
}
.footer_bar a {
  text-decoration: none;
}

.menu_title {
  padding: 0.5em 1em;
  font-weight: 600;
  color: white !important;
  text-transform: uppercase;
  font-size: 12px;
}

#cover {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #e0e0e0 100%);
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #e0e0e0 100%);
  background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #e0e0e0 100%);
}
#cover h2 {
  margin-left: 10%;
  margin-right: 10%;
  align-self: flex-start;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
}
#cover h2::after {
  clear: both;
  content: "";
  display: block;
}

.rect {
  min-width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.text {
  float: left;
  margin-right: 20px;
}

#data_visualizations {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
}
#data_visualizations::after {
  clear: both;
  content: "";
  display: block;
}
#data_visualizations li {
  display: flex;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: gray;
  height: 10em;
  align-self: center;
  padding: 1em;
  margin-bottom: 10px;
}
    #data_visualizations li:last-child {
      margin-right: 0; }
    #data_visualizations li:nth-child(3n) {
      margin-right: 0; }
    #data_visualizations li:nth-child(3n+1) {
      clear: left; }
    @media screen and (max-width: 768px) {
      #data_visualizations li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        #data_visualizations li:last-child {
          margin-right: 0; }
        #data_visualizations li:nth-child(2n) {
          margin-right: 0; }
        #data_visualizations li:nth-child(2n+1) {
          clear: left; } }
    @media screen and (max-width: 500px) {
      #data_visualizations li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #data_visualizations li:last-child {
          margin-right: 0; }
        #data_visualizations li:nth-child(1n) {
          margin-right: 0; }
        #data_visualizations li:nth-child(1n+1) {
          clear: left; } }
    #data_visualizations li a {
      display: block;
      color: white;
      text-decoration: none; }

#switch_page {
  font-size: 0.8em;
}

#visualizations {
  margin-left: auto;
  margin-right: auto;
}

  #visualizations::after {
    clear: both;
    content: "";
    display: block; }
  #visualizations #dataviz {
    height: 90vh;
    width: 70%;
    float: left; }
  #visualizations #left_sidebar {
    height: 100%;
    background-color: #f1f1f1;
    padding-left: 0;
    width: 30%;
    float: left; }
  #visualizations #sidebar_box {
    height: 100%; }
  #visualizations #sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
  }

#settings {
  margin: 0;
  cursor: pointer;
  height: 2.5em;
  border-bottom: 1px dotted #e3e1e1; }

#how_to_read_button {
  text-decoration: underline;
}

#how_to_read_button:hover {
  cursor: pointer;
}

.how_to_read {
  display: none;
  position: absolute;
  margin: 1em;
  background-color: white;
  border: 3px dotted #DCDCDC;
  padding: 2em;
  font-size: 0.8em;
  width: calc(70% - 3em);
}

#sidebar {
  display: block;
  position: relative;
}
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar .list_item {
  display: block;
  border-bottom: 1px solid #fdfdfd;
  padding: 0.5em;
  cursor: pointer;
}
#sidebar .list_item:last-child {
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1em; }

#category span {
  font-size: 2em;
  font-weight: lighter;
  text-decoration: none; }

#category_network_container {
  height: 80%;
  overflow-y: hidden;
  padding: 1em;
}
  #category_network_container .edges {
    stroke: #999;
    stroke-opacity: 0.6;
    fill: red; }
  #category_network_container .nodes g {
    cursor: pointer; }
  #category_network_container .nodes > g {
    z-index: 2; }
  #category_network_container .nodes g text {
    opacity: 0.4; }
  #category_network_container .nodes g:hover text {
    opacity: 1;
    transform: scale(1.5, 1.5); }

#main_contributions_container {
  height: 40vh;
}

#main_usage_container {
  height: 30vh;
}

#main_views_container {
  height: 100vh;
}

#user_contributions_container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 45vh;
}

#file_usage_container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 50vh;
}

.with_score {
  height: 90%; }

#score {
  height: 10%; }

#sorting_options {
  font-size: 1em;
  padding: 0.5em;
  border-bottom: 1px solid gray;
}

.selected_circle {
  stroke: black;
  stroke-width: 3px;
}

.selected_list_item {
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
