/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 400;
  src: local('Chivo Italic'), local('Chivo-Italic'), url(https://fonts.gstatic.com/s/chivo/v10/va9G4kzIxd1KFrBtce9flZDP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: italic;
  font-weight: 400;
  src: local('Chivo Italic'), local('Chivo-Italic'), url(https://fonts.gstatic.com/s/chivo/v10/va9G4kzIxd1KFrBtceFflQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 300;
  src: local('Chivo Light'), local('Chivo-Light'), url(https://fonts.gstatic.com/s/chivo/v10/va9F4kzIxd1KFrjDY_Z2sK32QA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 300;
  src: local('Chivo Light'), local('Chivo-Light'), url(https://fonts.gstatic.com/s/chivo/v10/va9F4kzIxd1KFrjDY_Z4sK0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(https://fonts.gstatic.com/s/chivo/v10/va9I4kzIxd1KFrBmQeNHkQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(https://fonts.gstatic.com/s/chivo/v10/va9I4kzIxd1KFrBoQeM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 700;
  src: local('Chivo Bold'), local('Chivo-Bold'), url(https://fonts.gstatic.com/s/chivo/v10/va9F4kzIxd1KFrjTZPZ2sK32QA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 700;
  src: local('Chivo Bold'), local('Chivo-Bold'), url(https://fonts.gstatic.com/s/chivo/v10/va9F4kzIxd1KFrjTZPZ4sK0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*  GENERAL */
:root {
  --main: #080d5a;
  --secondary: #6373f7;
  --main-dark: #060a40;
  --main-t: #080d5ac8;
  --main-tt: #080d5aa0;
  --bg-gray: #efefef;
  --accent: #a68300;
  --accent-tt: #a6830064;
  --sidebar-width: 250px;
  --sidebar-items-left: 3.2rem;
}

@media screen and (max-width: 768px) {
  :root {
    --sidebar-width: 200px;
    --sidebar-items-left: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --sidebar-width: 0px;
  }
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Chivo', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: black;
  line-height: 1.2;
}

body.pushable {
  background: var(--bg-gray) !important;
}

a {
  color: #0645AD;
}

/* UTILITIES */
.hide {
  display: none;
}

.show {
  display: block !important;
}

.clear {
  clear: both;
}

.underline {
  text-decoration: underline;
}

.no-pointer-events {
  pointer-events: none;
}

.overflow_hidden {
  overflow: hidden;
  height: 100%;
}

.error-message {
  color: #C62921;
  background-color: rgba(255, 199, 191, 0.8);
  border-radius: 5px;
  padding: 15px;
}

.success-message {
  color: #425d22;
  background-color: #e3f1c4;
  border-radius: 5px;
  padding: 15px;
}

.bg-accent {
  background-color: var(--accent);
}

.bg-gray {
  background-color: var(--bg-gray);
}

/* MOBILE HEADER AND SIDEBAR */
#mobile-header-bar {
  display: none;
}

#mobile-sidebar > .mobile-sidebar-links > ul {
  list-style-type: none;
  padding: 1rem 0 0;
}

#mobile-sidebar > .mobile-sidebar-links > ul > li {
  padding: 1.5rem 1rem;
}

#mobile-sidebar > .mobile-sidebar-links > ul > li a {
  color: var(--main);
}

#mobile-sidebar > .mobile-sidebar-links #admin-panel-link {
  font-size: 1rem;
}

#mobile-sidebar > .mobile-sidebar-links #github {
  font-weight: 100;
}

/* SIDEBAR */
#main-sidebar {
  background-color: var(--bg-gray);
  position: fixed;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
}

#main-sidebar > #sidebar-logo {
  position: absolute;
  top: 3rem;
  left: var(--sidebar-items-left);
}

#main-sidebar > .institutions-menu {
  position: absolute;
  top: 15rem;
  left: 0;
  width: 100%;
  border-width: 2px 0;
  border-style: solid;
  border-color: #fff;
}

#main-sidebar > .institutions-menu > h6 {
  margin: 0;
  padding: .5rem 0 .5rem var(--sidebar-items-left);
  font-weight: 600;
  color: var(--main);
  cursor: pointer;
  transition: opacity .5s;
}

#main-sidebar > #sidebar-logo img {
  width: 120px;
  height: auto;
}

#main-sidebar > .sidebar-links {
  position: absolute;
  bottom: 4rem;
  left: var(--sidebar-items-left);
}

#main-sidebar > .sidebar-links a {
  color: var(--main);
}

#main-sidebar > .sidebar-links > ul {
  list-style-type: none;
  padding: 0 5rem 0 0;
  font-size: 0.8rem;
}

#main-sidebar > .sidebar-links > ul > li {
  padding: 1rem 0 0;
}

#main-sidebar > .sidebar-links #github {
  font-weight: 100;
}

#main-sidebar > .admin-panel {
  position: absolute;
  left: var(--sidebar-items-left);
  bottom: 2rem;
}

#admin-panel-link {
  padding: .3rem .8rem;
  font-size: .7rem;
  color: var(--main);
  border: 1px solid;
  border-radius: 3px;
  transition: all .5s;
}

#admin-panel-link:hover {
  background-color: rgba(6, 69, 173, 0.7);
}

/* SECONDAY SIDEBAR */
#secondary-sidebar {
  background-color: var(--main);
  position: absolute;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  transition: all .5s;
}

#secondary-sidebar > .institutions-list {
  position: relative;
  top: 15rem;
  list-style-type: none;
  padding: 0 2rem;
  color: #fff;
}

#secondary-sidebar > .institutions-list > li {
  padding: 1rem 0;
}

/* MAIN CONTAINER */
#main-container {
  margin-left: var(--sidebar-width);
  padding: 1rem 3rem;
  min-height: 100vh;
}

.top_bar {
  min-height: 3em;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0.5em;
}

#topbar {
  background-color: #0D6FF6;
}

#topbar a {
  color: white;
  text-decoration: none;
}

#topbar h1 {
  display: inline;
  padding-left: 0.5em;
}

#topbar h2 {
  display: inline;
  font-size: 1.2em;
  margin-left: 2em;
}

#sub_header {
  background-color: #dcdcdc;
  min-height: 3em;
  padding-left: 1.5em;
}

#sub_header > div {
  padding: 0.3em 0 0.3em 0;
  float: left;
  margin-right: 5em;
}

#sub_header > div:last-child {
  margin-right: 0;
}

#sub_header a, #sub_header a:visited {
  text-decoration: none;
}

.label {
  font-size: 0.6em;
}

.futovac {
  flex: 1;
}

.round-btn {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  color: inherit;
  border: 1px solid black;
}

.nodeca:hover {
  text-decoration: none;
}

footer {
  flex-shrink: 0;
  min-height: 3em;
  padding: 0 0.5em 0.5em 1.5em;
}

.footer_home {
  bottom: 0;
  width: 100%;
  background-color: gray;
  min-height: 3em;
  padding-top: 1em;
}

.footer_home a {
  color: white;
  text-decoration: none;
}

.footer_bar {
  bottom: 0;
}

.footer_bar a {
  text-decoration: none;
}

.menu_title {
  padding: 0.5em 1em;
  font-weight: 600;
  color: white !important;
  text-transform: uppercase;
  font-size: 12px;
}

#success-glam a {
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 3px;
  margin: 0;
  transition: all .5s;
}

#success-glam a:hover {
  background-color: rgba(6, 69, 173, 0.2);
}

#cover {
  position: relative;
  margin-left: var(--sidebar-width);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}

#cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-t);
}

#home-cover {
  padding: 2rem 0rem 3rem;
}

#home-cover h2 {
  color: var(--main);
  font-size: 2rem;
}

#cover h2 {
  color: var(--main);
  font-size: 2rem;
}

#cover h2::after {
  clear: both;
  content: "";
  display: block;
}

.glam-title-container {
  color: #fff;
}

.glam-title-container .glam-title-desc {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
}

.glam-title-container #cat_url {
  color: #fff;
  text-decoration: underline;
  transition: opacity .5s;
}

.glam-title-container #cat_url:hover {
  opacity: .5;
}

.glam-title-container #totalMediaNum {
  color: #fff;
}

.glam-title-container h5 {
  font-weight: 100;
  text-transform: uppercase;
}

.chart-preview {
  background-color: transparent;
  margin-top: 3rem;
  height: 450px;
  perspective: 1000px;
}

.chart-preview-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.chart-preview-front,
.chart-preview-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chart-preview-front {
  background-color: var(--bg-gray);
  z-index: 2;
}

.chart-name {
  color: var(--main);
}

.chart-preview-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.chart-logo {
  flex-shrink: 0;
  flex-grow: 0;
  align-self: center;
}

.chart-separator hr {
  width: 40%;
  margin: 1rem auto;
  border-color: var(--secondary);
  border-width: 2px;
}

.chart-separator h5 {
  color: var(--secondary);
}

.chart-buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

.chart-link {
  color: var(--main);
  text-decoration: underline;
  transition: opacity .5s;
}

.chart-link:hover {
  opacity: .5;
}

.get-chart-info,
.close-chart-info {
  cursor: pointer;
  font-size: 1.2rem;
  transition: opacity.5s;
  color: var(--main);
}

.get-chart-info:hover,
.close-chart-info:hover {
  opacity: .5;
}

.close-chart-info {
  padding: .3rem .6rem;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}


.rect {
  min-width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.text {
  float: left;
  margin-right: 20px;
}

#data_visualizations {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
}

#data_visualizations::after {
  clear: both;
  content: "";
  display: block;
}

#data_visualizations li {
  display: flex;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: gray;
  height: 10em;
  align-self: center;
  padding: 1em;
  margin-bottom: 10px;
}

#data_visualizations li:last-child {
  margin-right: 0;
}

#data_visualizations li:nth-child(3n) {
  margin-right: 0;
}

#data_visualizations li:nth-child(3n+1) {
  clear: left;
}

#data_visualizations li a {
  display: block;
  color: white;
  text-decoration: none;
}

#switch_page {
  font-size: 0.8em;
}

#visualizations {
  margin-left: auto;
  margin-right: auto;
}

#visualizations::after {
  clear: both;
  content: "";
  display: block;
}

#visualizations #dataviz {
  height: 90vh;
  width: 70%;
  float: left;
}

#visualizations #left_sidebar {
  height: 100%;
  background-color: #f1f1f1;
  padding-left: 0;
  width: 30%;
  float: left;
}

#visualizations #sidebar_box {
  height: 100%;
}

#visualizations #sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
}

#settings {
  margin: 0;
  cursor: pointer;
  height: 2.5em;
  border-bottom: 1px dotted #e3e1e1;
}

#how_to_read_button {
  text-decoration: underline;
}

#how_to_read_button:hover {
  cursor: pointer;
}

.how_to_read {
  display: none;
  position: absolute;
  margin: 1em;
  background-color: white;
  border: 3px dotted #DCDCDC;
  padding: 2em;
  font-size: 0.8em;
  width: calc(70% - 3em);
}

#sidebar {
  display: block;
  position: relative;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar .list_item {
  display: block;
  border-bottom: 1px solid #fdfdfd;
  padding: 0.5em;
  cursor: pointer;
}

#sidebar .list_item:last-child {
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1em;
}

#category span {
  font-size: 2em;
  font-weight: lighter;
  text-decoration: none;
}

#category_network_container {
  height: 80%;
  overflow-y: hidden;
  padding: 1em;
}

#category_network_container .edges {
  stroke: #999;
  stroke-opacity: 0.6;
  fill: red;
}

#category_network_container .nodes g {
  cursor: pointer;
}

#category_network_container .nodes > g {
  z-index: 2;
}

#category_network_container .nodes g text {
  opacity: 0.4;
}

#category_network_container .nodes g:hover text {
  opacity: 1;
  transform: scale(1.5, 1.5);
}

#main_usage_container {
  height: 30vh;
}

#main_views_container {
  height: 100vh;
}

#file_usage_container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 50vh;
}

.with_score {
  height: 90%;
}

#score {
  height: 10%;
}

#sorting_options {
  font-size: 1em;
  padding: 0.5em;
  border-bottom: 1px solid gray;
}

.selected_circle {
  stroke: black;
  stroke-width: 3px;
}

.selected_list_item_div {
  background-color: var(--accent-tt);
}

.selected_list_item {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .glam-title-section {
    margin: .5rem 0;
    padding: .5rem 0;
  }

  .glam-title-desc {
    height: auto;
  }

  #data_visualizations li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }

  #data_visualizations li:last-child {
    margin-right: 0;
  }

  #data_visualizations li:nth-child(2n) {
    margin-right: 0;
  }

  #data_visualizations li:nth-child(2n+1) {
    clear: left;
  }

  #main-sidebar > .sidebar-links > ul {
    list-style-type: none;
    padding: 0 1rem 0 0;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576px) {
  #mobile-header-bar {
    display: flex;
    background-color: var(--bg-gray);
    box-shadow: inset 0 -1px 3px rgba(0,0,0,0.08);
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  #main-sidebar {
    display: none;
  }

  #cover h2 {
    font-size: 1.4rem;
  }

  #main-container {
    margin-left: var(--sidebar-width);
    padding: 1rem 2rem;
  }

  #cover {
    padding-bottom: 0;
    /* border-bottom: 1px solid var(--main); */
    margin-bottom: 2rem;
  }

  #visualizations {
    display: flex;
    flex-direction: column;

  }

  #data_visualizations li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }

  #data_visualizations li:last-child {
    margin-right: 0;
  }

  #data_visualizations li:nth-child(1n) {
    margin-right: 0;
  }

  #data_visualizations li:nth-child(1n+1) {
    clear: left;
  }

  #sub_header > div {
    float: none;
  }

  #visualizations #dataviz {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  #visualizations #left_sidebar {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: auto;
  }

  #main_views_container {
    height: 340px;
    margin-top: 1rem;
  }

  .overflow_hidden {
    overflow: auto;
    height: 100%;
  }
}
