/* Add shadow effect to chart. If you don't like it, get rid of it. */
svg {
    /* -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) ); */
    /* filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) ); */
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}

#right_sidebar_list {
  height: 74vh !important;
}

.list_item .list_item_panel {
  padding: 0;
  max-height: 0;
  overflow: hidden;
}

.list_item_active .list_item_panel {
  padding: 1.5rem 0 0;
  max-height: 800px;
}

.wiki_column table tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(100, 100, 100, .2);
}

.wiki_column table tbody tr td a:not(:last-child)::after {
  content: ",";
}
