#main_contributions_container {
  height: 90vh;
  width: 100%;
}

.zoom {
  /* cursor: move; */
  fill: none;
  /* pointer-events: all; */
}

.groupby_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  padding: 0 2rem;
  border-left: 1px solid rgba(255, 255, 255, .5);
  height: 63.22px;
}

#groupby_options {
  font-size: 1em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

#groupby-select {
  margin: 0 .5rem;
  background-color: var(--main);
  padding: .3rem;
  color: #fff;
}
