#main_contributions_container {
  height: 90vh;
  width: 100%;
}

.zoom {
  /* cursor: move; */
  fill: none;
  /* pointer-events: all; */
}

#groupby-select {
  margin: 0 .5rem;
  background-color: var(--main);
  padding: .3rem;
  color: #fff;
}
