#%RAML 1.0
title: GLAM tool
version: v0.1
baseUri: http://cassandra.synapta.io/api/{GLAM}
protocols:
  - HTTP
types:
  TestType:
    type: object
    properties:
      id: number
      optional?: string
      expanded:
        type: object
        properties:
          count: number
/category/node:
  description: Lista delle categorie con nome e numero di file presenti.
  get:
    responses:
      200:
        body:
          application/json:
            example: |
              [
                  {
                      "page_title": "Media_contributed_by_the_ETH-Bibliothek",
                      "cat_pages": 7565
                  },
                  {
                      "page_title": "ETH-BIB_Mittelholzer-Spitsbergen",
                      "cat_pages": 96
                  }
              ]
/category/edge:
  description: Lista delle coppie di categorie con una relazione padre-figlio. La categoria d'origine ha parent = null.
  get:
    responses:
      200:
        body:
          application/json:
            example: |
              [
                  {
                      "page_title": "Media_contributed_by_the_ETH-Bibliothek",
                      "parent": null
                  },
                  {
                      "page_title": "ETH-BIB_Mittelholzer-Spitsbergen",
                      "parent": "Media_contributed_by_the_ETH-Bibliothek"
                  },
                  {
                      "page_title": "ETH-BIB_Mittelholzer-Persia",
                      "parent": "Media_contributed_by_the_ETH-Bibliothek"
                  }
              ]
/file/upload-date:
  description: Numero di file caricati raggruppati per giorno di caricamento.
  get:
    responses:
      200:
        body:
          application/json:
            example: |
              [
                  {
                      "_id": {
                          "year": 2016,
                          "month": 5,
                          "day": 17
                      },
                      "count": 1
                  },
                  {
                      "_id": {
                          "year": 2016,
                          "month": 5,
                          "day": 31
                      },
                      "count": 341
                  }
              ]
