[Unit]
Description=AutoSSH for Cassandra
 
[Service]
User=root
Group=root
ExecStart=/usr/bin/autossh -N wmflabs
 
[Install]
WantedBy=multi-user.target
