<!DOCTYPE html>
<html>

<head>
	<title>Category network | GLAM stat tool (Cassandra)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/style/semantic-ui-sidebar.css" />
	<link rel="stylesheet" href="/assets/style/style.css" />
	<link rel="stylesheet" href="/assets/style/chart-page.css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<base id="basebase" href="" />
</head>

<body class="overflow_hidden">
	<div id="mobile-sidebar" class="ui left sidebar"></div>
	<div class="pusher">

		<header id="mobile-header-bar"></header>

		<header id="topbar" class="top_bar">
			<a id="white-logo" href="/">
				<img src="/assets/img/glam-logo-white.svg" alt="GLAM stat tool">
			</a>
			<div id="breadcrumbs">
				<h6>INSTITUTION</h6>
				<h2><a class="glamName" href=".."></a></h2>
				<span class="breadcrumb-separator"> > </span>
				<h6>CATEGRY IN COMMONS</h6>
				<h2><a id="cat_url" href="" title="Mediawiki category" target="_blank"></a></h2>
				<span class="breadcrumb-separator"> > </span>
				<h6>CHART</h6>
				<div class="select-chart">
					<select id="switch_page">
						<option selected value="category-network">Category network</option>
						<option value="user-contributions">User contributions</option>
						<option value="usage">Usage</option>
						<option value="page-views">Page views</option>
					</select>
				</div>
			</div>
		</header>

		<main id="visualizations">
			<div class="row w-100 m-0">
				<div id="dataviz" class="col-12 col-lg-8">
					<div class="how_to_read">
						<span onclick='$(".how_to_read").toggleClass("show");' style="float:right; cursor:pointer">X</span>
						<h5>Description</h5>
						This graph chart shows the subcategories' topology belonging to the main category.<br>
						Having just one category (or level) is a bad practise on Wikimedia Commons because makes difficult
						to the community to find and use files. Instead a multilevel and articulated categorization permits
						a better reuse of the uploaded media.
						<br><br>
						<h5>How to read it</h5>
						Each node represents a category, while the edges are the relations. Categories at the same level share the color.
						The bubble size is proportional to the amount of files within every category.
						<br><br>
						<h5>How to use it</h5>
						On the right menu you can order categories by level or by number of files. If you click into a category name the
						correspondant node will highlight (and viceversa).
					</div>
					<div id="legend" style="width: 10%;float: left;margin:2em 0 0 1.5em;"></div>
					<div id="category_network_container"></div>
				</div>
				<div id="right-column" class="col-12 col-lg-4">
					<div id="right_sidebar_box">
						<div id="sorting_options">
							<span style="font-size:0.8em;" id="by_name" class="underline">
								by level
							</span>
							/
							<span style="font-size:0.8em; cursor:pointer;" id="desc_order">
								by total
							</span>
						</div>
						<div id="right_sidebar_list"></div>
					</div>
				</div>
			</div>
		</main>

		<footer id="chart-page-footer">
			<div class="help">
				<h6 id="how_to_read_button"><img src="/assets/img/question-icon.svg" alt="help">HELP</h6>
			</div>
			<div class="download">
				<h6 id="download_dataset"><img src="/assets/img/download-icon.svg" alt="download"></h6>
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/bower_components/d3/d3.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="/assets/scripts/semantic-ui-sidebar.js"></script>
	<script type="text/javascript" src="/js/loader.js"></script>
	<script type="text/javascript" src="/assets/scripts/utils.js"></script>
	<script type="text/javascript" src="/assets/scripts/custom-selector.js"></script>
	<script type="text/javascript" src="/views/category-network/functions.js"></script>
</body>

</html>
