<!DOCTYPE html>
<html>

<head>
	<title>Category network | GLAM stat tool (Cassandra)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-select/1.13.12/css/bootstrap-select.min.css" />
	<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.css" />
	<link rel="stylesheet" href="/assets/style/style.css" />
	<link rel="stylesheet" href="/assets/style/chart-page.css" />
	<link rel="stylesheet" href="/assets/style/annotation-switch.css" />
	<link href="https://tools-static.wmflabs.org/fontcdn/css?family=Raleway" rel="stylesheet">
	<base id="basebase" href="" />
</head>

<body>
<div id="mobile-sidebar" class="ui left sidebar"></div>
<div class="pusher">

	<header id="mobile-header-bar"></header>

	<header id="topbar" class="top_bar">
		<a id="white-logo" href="/">
			<img src="/assets/img/glam-logo-white.svg" alt="GLAM stat tool">
		</a>
		<div id="breadcrumbs" class="row align-items-center w-100">
			<div>
				<div class="row align-items-center flex-nowrap flex-sm-wrap">
					<div>
						<h6>INSTITUTION</h6>
						<h2><a class="glamName" href=".."></a></h2>
					</div>
					<span class="breadcrumb-separator"> > </span>
					<select class="autocomplete-categories mx-2" data-live-search="true"></select>
				</div>
			</div>
			<div class="chart_select_container col-xs-4 col-md-4 col-lg-3">
				<h6>CHART</h6>
				<div class="select-chart category-selected">
					<select id="switch_page">
						<option selected value="category-network">Category network</option>
						<option value="user-contributions">User contributions</option>
						<option value="usage">Usage</option>
						<option value="page-views">Views</option>
						<option value="recommender">Suggestions</option>
					</select>
				</div>
			</div>
			<div class="annotation_container col-xs-4 col-md-4  col-lg-1">
				<div class="annotation_toggle_container">
					UNUSED MEDIA ONLY
					<div class="annotation_toggle">
						<label class="annotation_toggle_switch">
							<input id="unusedModeCheckbox" type="checkbox">
							<span class="annotation_toggle_slider"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</header>

	<main id="visualizations">
		<div class="row w-100 m-0">
			<div id="dataviz" class="col-12 col-lg-8">
				<div class="how_to_read">
					<span onclick='$(".how_to_read").toggleClass("show");' style="float:right; cursor:pointer">X</span>
					<h5>Description</h5>
					This graph chart shows the subcategories' topology belonging to the main category.<br>
					Having just one category (or level) is a bad practise on Wikimedia Commons because makes difficult
					to the community to find and use files. Instead a multilevel and articulated categorization permits
					a better reuse of the uploaded media.<br>
					This statistic is updated every day (max lag time 24h) and represents the actual scenario.
					<br><br>
					<h5>How to read it</h5>
					Each node represents a category, while the edges are the relations. Categories at the same level share the color.
					The bubble size is proportional to the amount of files within every category.
					<br><br>
					<h5>How to use it</h5>
					On the right menu you can order categories by level or by number of files. If you click into a category name the
					correspondant node will highlight (and viceversa).
					<br>
					On the top bar you can also drill-down to a chosen subdirectory.
					<br><br>
					<h5>Use case</h5>
					With this graph you can understand if the media files of your interest are divided in a useful way. Probably
					a category with more then one hundred files needs to be splitted in two or more subcategories. In fact, the better
					a media is categorized on Wikimedia Commons, the more is probable to be viewed or used inside a Wikipedia page.
					<br>
					More info available on: <a href="https://commons.wikimedia.org/wiki/Commons:Categories">https://commons.wikimedia.org/wiki/Commons:Categories</a>.
				</div>
				<div id="legend"></div>
				<div id="category_network_container"></div>
			</div>

			<div id="right-column" class="col-12 col-lg-4">
				<div id="right_sidebar_box">
					<div id="sorting_options">
							<span id="by_name" class="active_order">
								by level
							</span>
						<span style="cursor:pointer;" id="desc_order">
								by total
							</span>
					</div>
					<div id="right_sidebar_list"></div>
				</div>
			</div>
		</div>
	</main>

	<footer id="chart-page-footer">
		<div>
			<div class="chart-title">
				<img src="/assets/img/category-network.svg" alt="Category Network">
				<h5>CATEGORY NETWORK CHART</h5>
			</div>
			<div class="commons-category">
				<h6>CATEGORY IN COMMONS</h6>
				<h2>
					<a id="cat_url" href="" title="Mediawiki category" target="_blank"></a>
					<img class="link-out-big" src="/assets/img/link-out.svg" alt="go">
				</h2>
			</div>
		</div>
		<div>
			<div class="help">
				<h6 id="how_to_read_button"><img src="/assets/img/question-icon.svg" alt="help">HELP</h6>
			</div>
			<div class="download">
				<h6 id="download_dataset"><img src="/assets/img/download-icon.svg" alt="download"></h6>
			</div>
		</div>
	</footer>
</div>

<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/d3/4.4.0/d3.min.js"></script>
<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script type="text/javascript" src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.js"></script>
<script type="text/javascript" src="/js/loader.js"></script>
<script type="text/javascript" src="/assets/scripts/utils.js"></script>
<script type="text/javascript" src="/assets/scripts/custom-selector.js"></script>
<script type="text/javascript" src="/views/category-network/functions.js"></script>
</body>

</html>
