<!DOCTYPE html>
<html>
  <head>
    <title>§[messages.glam-tool]§ (Cassandra)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <link
      rel="stylesheet"
      href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.css"
    />
    <link rel="stylesheet" href="/assets/style/style.css" />
    <link rel="stylesheet" href="/assets/style/admin-panel.css" />
  </head>

  <body>
    <!-- Mobile sidebar -->
    <div id="mobile-sidebar" class="ui left sidebar"></div>
    <div class="pusher">
      <!-- Mobile header bar -->
      <header id="mobile-header-bar"></header>
      <!-- Sidebar -->
      <aside id="main-sidebar"></aside>
      <aside id="secondary-sidebar"></aside>
      <!-- MAIN -->
      <!-- Title -->
      <section id="admin-cover" class="cover">
        <div class="justify-content-between row w-100" style="flex-wrap: nowrap;">
          <div>
            <h2>§[messages.introduction]§</h2>
          </div>
        </div>
      </section>
      <!-- Main Content -->
      <main id="main-container">
        <section>
          <div class="row">
            <div class="col-12 mx-auto mt-xl-5 mb-3">
              <div class="row align-items-center">
                <div class="col-12 col-lg-7">
                  <h2>Welcome to Cassandra</h2>
                  <h3>A GLAM statistical application for the impact analysis of Wikimedia projects</h3>
                  <p>
                    The GLAM statistical tool named Cassandra is a project launched by Wikimedia CH in 2015, developed in collaboration with Swiss cultural institutions and GLAM partners of Wikimedia CH. The aim of the project is to support GLAM institutions (Galleries, Libraries, Archives and Museums) in gaining statistical insights regarding their shared collections across the Wikimedia projects in the world.
                  </p>
                  <p>
                    Cassandra visualizes statistical data of media files uploaded under a free license in Wikimedia Commons. The accumulated data is presented in various diagrams and graphs, reflecting views and usage of freely accessible and shared collections, based on several selected indices and various time frames. Moreover, a sophisticated algorithm suggests unused media files to be illustrated in the respective Wikipedia articles, offering the possibility to engage the Wikimedia community and improve the impact as well as the quality of joint projects.
                  </p>
                  <p>
                    For the benefit of other GLAM institutions in the world, Wikimedia CH has decided in 2020 to stepwise share Cassandra within the Wikimedia movement and with other Wikimedia chapters in the world, by launching a global project (<a href="https://stats.wikimedia.global">https://stats.wikimedia.global</a>).
                  </p>
                  <p id="custom-intro"></p>
                </div>
              </div>
            </div>
          </section>
      </main>
      <footer id="main-footer"></footer>
    </div>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.1.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
    ></script>
    <script type="text/javascript" src="/js/language.js"></script>
    <script type="text/javascript" src="/js/loader.js"></script>
  </body>
</html>
