<!DOCTYPE html>
<html>

<head>
	<title>GLAM stat tool (Cassandra)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/style/semantic-ui-sidebar.css" />
	<link rel="stylesheet" href="/assets/style/style.css" />
	<link rel="stylesheet" href="/assets/style/admin-panel.css" />
</head>

<body>
	<!-- Mobile sidebar -->
	<div id="mobile-sidebar" class="ui left sidebar"></div>
	<div class="pusher">
		<!-- Mobile header bar -->
		<header id="mobile-header-bar"></header>
		<!-- Sidebar -->
		<aside id="main-sidebar"></aside>
		<aside id="secondary-sidebar"></aside>
		<!-- MAIN -->
		<!-- Title -->
		<section id="admin-cover" class="cover">
			<div class="row">
				<div class="col-12">
					<h2>Admin Control Panel</h2>
				</div>
			</div>
		</section>
		<!-- Main Content -->
		<main id="main-container">
			<section>
				<div class="row">
					<div class="col-12 mx-auto mt-xl-5 mb-3">
						<div class="row align-items-center">
							<div class="col-12 col-lg-8">
								<h1>List of Glams available in the system</h1>
								<h6 class="glams-count mt-2">
									<ul>
										<li id="total-btn" class="filt-btn active-btn">All (<span class="glam-filter" id="total-glams"></span>)</li> |
										<li id="running-btn" class="filt-btn">Running (<span class="glam-filter" id="running-glams"></span>)</li> |
										<li id="pending-btn" class="filt-btn">Pending (<span class="glam-filter" id="pending-glams"></span>)</li> |
										<li id="paused-btn" class="filt-btn">Paused (<span class="glam-filter" id="paused-glams"></span>)</li> |
										<li id="failed-btn" class="filt-btn">Failed (<span class="glam-filter" id="failed-glams"></span>)</li>
									</ul>
									<span id="admin-help">&#63;</span>
								</h6>
								<div id="glam-legend" style="display:none;">
									<ul>
										<li><b style="color:#40798C;">RUNNING</b> - tool is collecting data. Everything is fine!</li>
										<li><b style="color:#5B5B5B;">PENDING</b> - tool is not started yet. It will soon!</li>
										<li><b style="color:#F7B32B;">PAUSED</b> - tool has been paused from collecting data</li>
										<li><b style="color:#8C271E;">FAILED</b> - tool tried to collect data, but failed</li>
									</ul>
								</div>
							</div>
							<div class="col-12 mt-4 mt-xl-0 col-lg-4 text-lg-right">
								<a id="new-glam-button" href="/admin/new-glam">ADD NEW GLAM</a>
							</div>
						</div>
					</div>
					<div class="col-12 mx-auto">
						<div class="row" id="glams-list">
							<div class="col-12" id="glams-list-unique"></div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/semantic-ui-sidebar.js"></script>
	<script type="text/javascript" src="/assets/scripts/handlebars-v4.0.5.js"></script>
	<script type="text/javascript" src="/assets/scripts/moment-with-locales.js"></script>
	<script type="text/javascript" src="/js/loader.js"></script>
	<script type="text/javascript" src="/js/admin-panel.js"></script>
</body>

</html>
