<!DOCTYPE html>
<html>
  <head>
    <title>§[messages.glam-tool]§ (Cassandra)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <link
      rel="stylesheet"
      href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.css"
    />
    <link rel="stylesheet" href="/assets/style/style.css" />
    <link rel="stylesheet" href="/assets/style/admin-panel.css" />
  </head>

  <body>
    <!-- Mobile sidebar -->
    <div id="mobile-sidebar" class="ui left sidebar"></div>
    <div class="pusher">
      <!-- Mobile header bar -->
      <header id="mobile-header-bar"></header>
      <!-- Sidebar -->
      <aside id="main-sidebar"></aside>
      <aside id="secondary-sidebar"></aside>
      <!-- MAIN -->
      <!-- Title -->
      <section id="admin-cover" class="cover">
        <div class="justify-content-between row w-100" style="flex-wrap: nowrap;">
          <div>
            <h2>§[messages.contacts]§</h2>
          </div>
        </div>
      </section>
      <!-- Main Content -->
      <main id="main-container">
        <section>
          <div class="row">
            <div class="col-12 mx-auto mt-xl-5 mb-3">
              <div class="row align-items-center">
                <div class="col-12 col-lg-7" id="contacts-intro">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-xl-9 my-xl-5">
                  <form>
                    <div class="form-group">
                      <label for="firstname">§[messages.set-first-name]§ *</label>
                      <input
                        type="text"
                        class="form-control"
                        id="firstname"
                        name="firstName"
                        required
                        placeholder="§[messages.set-first-name]§"
                      />
                    </div>
                    <div class="form-group">
                      <label for="lastname">§[messages.set-last-name]§ *</label>
                      <input
                        type="text"
                        class="form-control"
                        id="lastname"
                        name="lastName"
                        required
                        placeholder="§[messages.set-last-name]§" />
                    </div>
                    <div class="form-group">
                      <label for="usermail">§[messages.set-email]§ *</label>
                      <input
                        type="email"
                        class="form-control"
                        id="usermail"
                        name="userMail"
                        required
                        placeholder="§[messages.set-email]§" />
                    </div>
                    <div class="form-group">
                      <label for="contactsBody">§[messages.set-message-body]§ *</label>
                      <textarea class="form-control" id="contactsBody" name="contactsBody" required
                      placeholder="§[messages.set-message-body]§" rows="15"></textarea>
                    </div>
                    <div id="validation-error" class="error-message my-1" style="display: none">
                      <h4>§[messages.validation-error]§</h4>
                    </div>
                    <div id="save-error" class="error-message my-1" style="display: none">
                      <h4>§[messages.save-error]§</h4>
                    </div>
                    <div id="save-success" style="display: none">
                      <div class="success-message my-1">
                        <h4>§[messages.save-success]§</h4>
                      </div>
                    </div>
                    <button id="send-message" class="btn btn-primary uppercase">§[messages.save]§</button>
                  </form>
                </div>
              </div>
            </div
                  </section>
      </main>
      <footer id="main-footer"></footer>
    </div>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.1.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
    ></script>
    <script type="text/javascript" src="/js/loader.js"></script>
    <script type="text/javascript" src="/js/contacts.js"></script>
  </body>
</html>
