<!DOCTYPE html>
<html>

<head>
	<title>GLAM stat tool (Cassandra)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/style/semantic-ui-sidebar.css" />
	<link rel="stylesheet" href="/assets/style/style.css" />
	<base id="basebase" href="" />
	<style>
		body {
				height: 100%;
				flex-direction: column;
				min-height: 100vh;
				display: flex;
			}
		</style>
</head>

<body>
	<!-- Mobile sidebar -->
	<div id="mobile-sidebar" class="ui left sidebar"></div>
	<div class="pusher">
		<!-- Mobile header bar -->
		<header id="mobile-header-bar"></header>
		<!-- Sidebar -->
		<aside id="main-sidebar"></aside>
		<!-- MAIN -->
		<main id="main-container">
			<!-- Title -->
			<section id="cover">
				<div class="row">
					<div class="col-12">
						<div class="glam-title-container">
							<div class="w3-container boxDashboardTitle">
								<br>
								<h1 class="glamName"></h1>
								<br>
								<small>Category in Commons:</small>
								<br>
								<a id="cat_url" target="_blank"></a>
								<br><br>
								<small>Total media in Commons:</small>&nbsp;&nbsp;&nbsp;
								<span id="totalMediaNum" class="round-btn" style="margin: 0 auto;"></span>
								<br><br>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="col-12 col-lg-10 col-xl-9">
						<div class="row">
							<div class="col-12 col-xl-6 my-3">
								<a href="category-network" class="nodeca">
									<div class="w3-border w3-hover-shadow">
										<div class="w3-container bg-accent menu_title">
											Category network
										</div>
										<div class="w3-container boxDashboardTitle" style="text-align:center">
											<img src="/assets/img/graph.png" height="200px" />
										</div>
									</div>
								</a>
							</div>
							<div class="col-12 col-xl-6 my-3">
								<a href="user-contributions" class="nodeca">
									<div class="w3-border w3-hover-shadow">
										<div class="w3-container bg-accent menu_title">
											User contribution
										</div>
										<div class="w3-container boxDashboardTitle" style="text-align:center">
											<img src="/assets/img/users.png" height="200px" />
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-xl-6 my-3">
								<a href="usage" class="nodeca">
									<div class="w3-border w3-hover-shadow">
										<div class="w3-container bg-accent menu_title">
											Usage
										</div>
										<div class="w3-container boxDashboardTitle" style="text-align:center">
											<img src="/assets/img/usage.png" height="200px" />
										</div>
									</div>
								</a>
							</div>
							<div class="col-12 col-xl-6 my-3">
								<a href="page-views" class="nodeca">
									<div class="w3-border w3-hover-shadow">
										<div class="w3-container bg-accent menu_title">
											Views
										</div>
										<div class="w3-container boxDashboardTitle" style="text-align:center">
											<img src="/assets/img/views.png" height="200px" />
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	<div class="futovac"></div>
	<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/semantic-ui-sidebar.js"></script>
	<script type="text/javascript" src="/js/loader.js"></script>
	<script type="text/javascript" src="/assets/scripts/utils.js"></script>
	<script>
		setCategory();
	</script>
</body>

</html>
