<!DOCTYPE html>
<html>
	<head>
		<title>Views | GLAM stat tool (Cassandra)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/assets/style/linechart.css"/>
		<link rel="stylesheet" href="/assets/style/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body class="overflow_hidden">
		<base id="basebase" href=""/>
		<header id="topbar" class="top_bar">
			<h1>
				<a href="/">GLAM stat tool (Cassandra)</a>
			</h1>
			<span style="color:white; font-size:12px;">version 1.2.</span>
			<h2>
				<a class="glamName" href=".."></a>
			</h2>
		</header>

		<div id="sub_header" class="sub_top_bar">
			<div>
				<div class="label">
					Category
				</div>
				<div>
					<a id="cat_url" href="" title="" target="_blank">
					</a>
				</div>
			</div>
			<div>
				<div class="label">
					Chart
				</div>
				<div>
					<select id="switch_page">
						<option value="page-views">Views</option>
						<option value="category-network">Category network</option>
						<option value="user-contributions">User contributions</option>
						<option value="usage">Usage</option>
					</select>
				</div>
			</div>
			<div>
				<div class="label">
					Help
				</div>
				<div id="how_to_read_button">
					How to read the visualization
				</div>
			</div>
			<div>
				<div class="label">
					Download
				</div>
				<div id="download_dataset"></div>
			</div>
		</div>

		<main id="visualizations">
			<section id="dataviz" class="v_noscore" style="overflow: unset;">
				<div class="how_to_read">
					<span onclick='$(".how_to_read").toggleClass("show");' style="float:right; cursor:pointer">X</span>
					<h5>Description</h5>
					This line chart shows the sum of the views for the files thats belong to the main category with a 24h span.<br>
					Generally is quite visible the difference of visits between workdays and weekends. Sometimes some spikes could lead
					to a popular event. A growing trend is not always equals to a growing popularity of the category because of file additions.
					<br><br>
					<h5>How to read it</h5>
				  On the orizontal axis we have time, with one day precision. On the vertical axis the total views performed by all files in
					the category. This axis has logarithmic scale.
					<br><br>
					<h5>How to use it</h5>
					On the right menu you can order files by views, by median or by name.
				</div>
				<div id="main_views_container"></div>
			</section>

			<section id="left_sidebar">
				<div id="sidebar_box">
					<div  id="sorting_options">
						<span style="font-size:0.8em;" id="by_num" class="underline">
							by views
						</span>
						/
						<span style="font-size:0.8em; cursor:pointer;" id="by_median">
							by median
						</span>
						/
						<span style="font-size:0.8em; cursor:pointer;" id="by_name">
							by name
						</span>
					</div>
					<div id="sidebar"></div>
				</div>
			</section>
		</main>
		<style>
			#visualizations #dataviz{
				overflow-y: auto;
				overflow-x: hidden;
			}
			#user_contributions_container{
				overflow-x: hidden;
			}
			#sidebar .list_item:last-child {
				margin-bottom: 0px;
			}
		</style>
		<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/bower_components/d3/d3.min.js"></script>
		<script type="text/javascript" src="/assets/scripts/handlebars-v4.0.5.js"></script>
		<script type="text/javascript" src="/assets/scripts/moment-with-locales.js"></script>
		<script type="text/javascript" src="/assets/scripts/utils.js"></script>
		<script type="text/javascript" src="/assets/scripts/linechart.js"></script>
		<script type="text/javascript" src="/views/page-views/functions.js"></script>
	</body>
</html>
