<!DOCTYPE html>
<html>
	<head>
		<title>GLAM Visual Tool</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
		<link rel="stylesheet" href="assets/style/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
	</head>
	<body>
		<header id="topbar" class="top_bar">
			<div><!-- class="container" -->
				<h1>
					<a href="index.html">GLAM Visual Tool</a>
				</h1>
			</div>
		</header>
		<main>
			<section id="cover">
				<div class="container">
					<h2>
						Monitor, evaluate and support GLAMs (Galleries, Libraries, Archives, Museums) in their cooperation with Wikipedia and the Wikimedia projects
					</h2>
				</div>
			</section>
			<section>
				<div class="container">
					<p id="category">
						Category in Commons: 
						<br>
						<span>
							<a href="https://commons.wikimedia.org/w/index.php?title=Category:Media_contributed_by_the_ETH-Bibliothek" title="Media contributed by the ETH-Bibiothek" target="_blank">
							Media contributed by the ETH-Bibliothek
							</a>
						</span>
					</p>
					<ul id="data_visualizations">
						<li>
							<a href="category-network" title="See the network of category and subcategories">
								Category network
							</a>
						</li>
						<li>
							<a href="user-contributions" title="See the contributions to the category overtime">
								User contributions
							</a>
						</li>
						<li>
							<a href="page-views" title="See how much the files are visualized"> 
								Page views
							</a>
						</li>
					</ul>
				</div>
			</section>
		</main>
		<footer class="footer_home">
			<section class="">
				<span>
					<a href="http://www.supsi.ch/lcv" target="blank" title="SUPSI Laboratory of visual culture">SUPSI Laboratory of visual culture</a>
				</span>
				<span>
					&bull;
					<a href="https://www.wikimedia.ch/" target="blank" title="Wikimedia CH">Wikimedia CH</a>
				</span>
				<span>
					&bull;
					<a href="https://synapta.it/" target="blank" title="Synapta">Synapta</a>
				</span>
			</section>
		</footer>
	</body>
</html>