<!DOCTYPE html>
<html>
	<head>
		<title>GLAM Visual Tool | Category network</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
		<link rel="stylesheet" href="../assets/style/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
	</head>
	<body class="overflow_hidden">
		<header id="topbar" class="top_bar">
			<div><!-- class="container" -->
				<h1>
					<a href="../">GLAM Visual Tool</a>
				</h1>
			</div>
		</header>
		<div id="sub_header" class="sub_top_bar">
			<div>
				<a href="../">
					&larr; back
				</a>
			</div>
			<div>
				<div class="label">
					Category
				</div>
				<div>
					<a id="cat_url" href="https://commons.wikimedia.org/w/index.php?title=Category:Media_contributed_by_the_ETH-Bibliothek" title="Media contributed by the ETH-Bibiothek" target="_blank">
					</a>
				</div>
			</div>
			<div>
				<div class="label">
					Chart
				</div>
				<div>
					<select id="switch_page">
						<option value="category_network">Category network</option>
						<option value="user-contributions">User contributions</option>
						<option value="page-views">Page views</option>
					</select>
				</div>
			</div>
		</div>
		<main id="visualizations">
			<section id="dataviz" class="v_noscore">
				<div id="settings">
					<!--<div style="float:left;">
						< Settings >
					</div>-->
					<div id="how_to_read_button" style="float:right; text-decoration: underline; font-size:1em;">
						How to read the visualization
					</div>
				</div>
				<div class="how_to_read" style="float:right;">
					The visualizations shows the subcategories belonging to the main category. The bubblue size shows the amount of files within every category. 
				</div>
				<div id="category_network_container" class="svg_container"></div>		
				<footer class="footer_bar">
					<!--<div style="float:left;">
						< score >
					</div>-->
					<div style="float:right;">
						<span id="download_dataviz" style="cursor:pointer;">
							Download dataviz
						</span>
						&bull;
						<span id="download_dataset" style="cursor:pointer;"></span>
					</div>
				</footer>
			</section>
			<section id="left_sidebar">
				<div id="sidebar_box">
					<div  id="sorting_options">
						<span style="font-size:0.6em; cursor:pointer;" id="desc_order">
							by total
						</span>
						/
						<!--<span style="font-size:0.6em; cursor:pointer;" id="asc_order" class="underline">
							asc. order
						</span> / -->
						<span style="font-size:0.6em; cursor:pointer;" id="by_name" class="underline">
							by level
						</span>
					</div>
					<div id="sidebar"></div>
				</div>
				<!--<div id="test"></div>-->
			</section>
		</main>
		<style>
			#visualizations #dataviz {
				height: 100vh;
			}
		</style>
		<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../bower_components/d3/d3.min.js"></script>
		<script type="text/javascript" src="../assets/scripts/handlebars-v4.0.5.js"></script>
		<script type="text/javascript" src="../assets/scripts/FileSaver.js"></script>

		<!--<script type="text/javascript" src="../assets/scripts/canvas-to-blob.min.js"></script>
		<script type="text/javascript" src="../assets/scripts/canvg.js"></script>
		<script type="text/javascript" src="../assets/scripts/StackBlur.js"></script>
		<script type="text/javascript" src="../assets/scripts/main.js"></script>-->
		<script type="text/javascript" src="functions.js"></script>
	</body>
</html>